extends auth

block auth
  form.signin.form-horizontal(action="/users/session", method="post")
    .control-group
      label.control-label(for='email')= t('email')
      .controls
        input#email(type='text', name="email", placeholder=t('email'))

    .control-group
      label.control-label(for='password')= t('password')
      .controls
        input#password(type='password', name="password", placeholder=t('password'))

    .form-actions
      button.btn.btn-primary(type='submit')= t('login')
      |&nbsp;
      span= t('or')
      |&nbsp;
      a.show-signup(href="/signup")= t('register')
